<div class="job-filter-header">
  <p class="job-filter-header-title job-filter-header-title-sub">Job Type</p>
</div>
<div class="job-filter-job-type">
  <label class="container">Project
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">Research
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="container">Teaching
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="container">Mentor/Tutor
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="container">Grader
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="container">Other
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
</div>
<hr class="job-filter-divider">
<div class="job-filter-header">
  <p class="job-filter-header-title job-filter-header-title-sub">Experience Level</p>
</div>
<div class="job-filter-exp-level">
  <label class="container">Entry
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">Junior
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="container">Senior
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="container">Graduate
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
</div>
<hr class="job-filter-divider">
<div class="job-filter-header">
  <p class="job-filter-header-title job-filter-header-title-sub">Date Posted</p>
</div>
<div class="job-filter-date-posted">
  <label class="container container-radio">Any Time
    <input type="radio" checked="checked" name="radio-date">
    <span class="checkmark checkmark-radio"></span>
  </label>
  <label class="container container-radio">Past Day
    <input type="radio" name="radio-date">
    <span class="checkmark checkmark-radio"></span>
  </label>
  <label class="container container-radio">Past Week
    <input type="radio" name="radio-date">
    <span class="checkmark checkmark-radio"></span>
  </label>
  <label class="container container-radio">Past Month
    <input type="radio" name="radio-date">
    <span class="checkmark checkmark-radio"></span>
  </label>
</div>
<hr class="job-filter-divider">
<div class="job-filter-header">
  <p class="job-filter-header-title job-filter-header-title-sub">Pay Rate / hr</p>
</div>
<div class="job-filter-date-posted">
  <label class="container container-radio container-radio-salary">Any
    <input type="radio" checked="checked" name="radio-salary">
    <span class="checkmark checkmark-radio checkmark-radio-salary"></span>
  </label>
  <label class="container container-radio container-radio-salary">$10+
    <input type="radio" name="radio-salary">
    <span class="checkmark checkmark-radio checkmark-radio-salary"></span>
  </label>
  <label class="container container-radio container-radio-salary">$20+
    <input type="radio" name="radio-salary">
    <span class="checkmark checkmark-radio checkmark-radio-salary"></span>
  </label>
  <label class="container container-radio container-radio-salary">$30+
    <input type="radio" name="radio-salary">
    <span class="checkmark checkmark-radio checkmark-radio-salary"></span>
  </label>
</div>
<hr class="job-filter-divider">
<div class="job-filter-header">
  <p class="job-filter-header-title job-filter-header-title-sub">Remote</p>
  <label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
  </label>
</div>
