#search_bar {
    display: flex;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#job-title-form {
    margin-right: 10px;
}

#job-location-form {
    margin-right: 10px;
}

.job-search-form-control {
    color: white;
    background-color: #2A2F3F;
    border: 0px solid rgb(145, 154, 172);
}

.job-search-form-control:focus {
    color: white;
    background-color: #2A2F3F;
    box-shadow: none;
    border: 0px solid rgb(145, 154, 172);
}

.job-search-form-control::placeholder{
    color: rgb(145, 154, 172);
  }

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 110px;
    background: rgb(15, 90, 175);
    border: none;
}

@media (max-width: 700px) {
    #search_bar_mobile {
        background-color: #2A2F3F;
        display: flex !important;
        padding: 10px 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        height: 45px;
        border-radius: 5px;
    }

    #search_bar_mobile img {
        width: 25px;
        height: 25px;
    }

    #search_bar_mobile p {
        margin-left: 10px;
        color: rgb(145, 154, 172);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 17px;
    }

    #search_bar_modal {
        display: flex;
        flex-direction: column;
    }

    .search_bar-modal-divider {
        width: 100%;
        border-top: 1px solid rgb(145, 154, 172);
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #job-location-form-modal{
        margin-bottom: 5px;
    }

    #search_bar_modal_cancel {
        background-color: transparent;
        border: none;
    }

    #filter-wrapper {
        display: flex !important;
        width: 100px;
        margin-left: 25px;
    }

    #filter-wrapper img {
        width: 25px;
        height: 25px;
    }

    #filter-wrapper p {
        margin-left: 10px;
        color: rgb(145, 154, 172);
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 17px;
    }
}