#landing-wrapper {
    background-color:rgb(42, 47, 63);
}

#mission-statement {
    background-color:rgb(42, 47, 63);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

#mission-statement h1 {
    flex: 0 0 120;
    color: white;
    letter-spacing: 0.5px;
}

#search_bar {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1000px;
}

#job-title-form {
    margin-right: 10px;
}

#job-location-form {
    margin-right: 10px;
}

.job-search-form-control {
    color: white;
    background-color: rgb(32, 37, 53);
    border: 0px solid rgb(145, 154, 172);
}

.job-search-form-control:focus {
    color: white;
    background-color: rgb(32, 37, 53);
    box-shadow: none;
    border: 0px solid rgb(145, 154, 172);
}

.job-search-form-control::placeholder{
    color: rgb(145, 154, 172);
  }

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 110px;
    background: rgb(15, 90, 175);
    border: none;
}

@media (max-width: 1030px) {
    #search_bar {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%
    }
}

@media (max-width: 600px) {
    #search_bar {
        flex-direction: column;
        gap: 5px;
    }

    .job-search-form-control {
        height: 50px;
    }
}

@media (max-width:515px) {
    #mission-statement h1 {
        font-size:x-large;
    }
}